<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">JAVS Swimlane</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse mydiv" id="navbarSupportedContent">
      
        <form class="d-flex" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
         
          <input  id="searchQuery" formControlName="searchQuery" class="form-control me-2" type="text" placeholder="Search" aria-label="Search">
          <button class=" btn btn-outline-success searchbtn" type="submit">Search</button>
          <!-- <button type="button" class="btn btn-success">Success</button> -->
        </form>
      
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-list">
          <li class="nav-item dropdown">
            <a class="navbar-brand dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" >
              {{userName}}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
              <li><a class="dropdown-item" (click)="userprofile()">Profile</a></li>
              
            </ul>
          </li>
        
      <li class="nav-item">
          <a class="navbar-brand" (click)="openCart()">Cart</a>
      </li>
      
      </ul>
      
    </div>
  </div>
</nav>