
<div class="container-fluid pdt-disp">
    
  <div class="row">
      <div class="col" (click)="onGetProductDummy('1','Camera')">
        <img src="../../assets/images/{{img_link[0]}}" class="img-dimention" >
        <p>
              <h1>Camera</h1>
              <h4> Buy your fancy camera</h4>
      
        
      </div>
      <div class="col" (click)="onGetProductDummy('2','Watch')">
          <img src="../../assets/images/{{img_link[1]}}" class="img-dimention">
          <p>
              <h1>Watch</h1>
              <h4> Get a premium Smart watch</h4>
          
          
        </div>
        <div class="col" (click)="onGetProductDummy('3','Headphone')">
          <img src="../../assets/images/{{img_link[2]}}" class="img-dimention">
          <p>
              <h1>Headphone</h1>
              <h4> Boat headphone for you</h4>
          
      </div>
    </div>

    <div class="row">
      <div class="col" (click)="onGetProductDummy('4','Mouse')">
        <img src="../../assets/images/{{img_link[3]}}" class="img-dimention">
        <p>
              <h1>Mouse</h1>
              <h4> Better than Magic Mouse</h4>
      
        
      </div>
      <div class="col" (click)="onGetProductDummy('5','Coke')">
          <img src="../../assets/images/{{img_link[4]}}" class="img-dimention" >
          <p>
              <h1>Coke</h1>
              <h4> More than beer</h4>
          
          
        </div>
        <div class="col" (click)="onGetProductDummy('6','Nike Runnin Shoes')">
          <img src="../../assets/images/{{img_link[5]}}" class="img-dimention">
          <p>
              <h1>Nike Runnin Shoes</h1>
              <h4> Just wear it</h4>
          
      </div>
    </div>
</div>s